extends ./../../layouts/header.pug


block title
    title= title 



block cssLink
    link(rel="stylesheet", href="/css/singleTweet.css")



block jsScript
    script(src="/js/singleTweet.js" defer) 
    script(src="/js/modal.js" defer) 



block bodyContent
    #replyModal.modal.fade(tabindex='-1', aria-labelledby='replyModalTitle', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header

                    button.btn-close(type='button', data-dismiss='modal', aria-label='Close' onclick="deleteReplyData()")
                        span(aria-hidden="true") &times
                .modal-body
                
                .modal-footer
                    .create_post 
                        .reply_avatar
                            img(src="/uploads/" + user.avatarProfile, alt="")
                        
                        .post_field 
                            textarea#replyContent(placeholder="Tweet your reply")

                            .reply_img_container 

                            .reply_actions
                                label(for="replyImg")
                                    svg.bi.bi-card-image(xmlns='http://www.w3.org/2000/svg', width='16', height='16', fill='currentColor', viewbox='0 0 16 16')
                                        path(fill="#29A0F0" d='M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z')
                                        path(fill="#29A0F0" d='M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54A.505.505 0 0 1 1 12.5v-9a.5.5 0 0 1 .5-.5h13z')
                                
                                input#replyImg(type="file" multiple)

                                button.replyBtn(disabled ="") Reply

    main#main_section

        .left_side_container 

            .top_left_section

                .logo_section
                    a.logoIcon(href="/home")
                        i.fab.fa-twitter

                .menu_section
                    nav.nav_section 
                        a.nav_link(href="/home")
                            span 
                                svg.bi.bi-house-door(xmlns='http://www.w3.org/2000/svg', width='25', height='25', fill='currentColor', viewbox='0 0 16 16')
                                    path( d='M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z')

                                .notification_box 1
                            | Home

                        a.nav_link(href="/explore")
                            span
                                svg.bi.bi-hash(xmlns='http://www.w3.org/2000/svg', width='25', height='25', fill='currentColor', viewbox='0 0 16 16')
                                    path(d='M8.39 12.648a1.32 1.32 0 0 0-.015.18c0 .305.21.508.5.508.266 0 .492-.172.555-.477l.554-2.703h1.204c.421 0 .617-.234.617-.547 0-.312-.188-.53-.617-.53h-.985l.516-2.524h1.265c.43 0 .618-.227.618-.547 0-.313-.188-.524-.618-.524h-1.046l.476-2.304a1.06 1.06 0 0 0 .016-.164.51.51 0 0 0-.516-.516.54.54 0 0 0-.539.43l-.523 2.554H7.617l.477-2.304c.008-.04.015-.118.015-.164a.512.512 0 0 0-.523-.516.539.539 0 0 0-.531.43L6.53 5.484H5.414c-.43 0-.617.22-.617.532 0 .312.187.539.617.539h.906l-.515 2.523H4.609c-.421 0-.609.219-.609.531 0 .313.188.547.61.547h.976l-.516 2.492c-.008.04-.015.125-.015.18 0 .305.21.508.5.508.265 0 .492-.172.554-.477l.555-2.703h2.242l-.515 2.492zm-1-6.109h2.266l-.515 2.563H6.859l.532-2.563z')

                                .notification_box 2
                            | Explore

                        a.nav_link(href="/notification")
                            span
                                svg.bi.bi-bell(xmlns='http://www.w3.org/2000/svg', width='25', height='25', fill='currentColor', viewbox='0 0 16 16')
                                    path(d='M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z')

                                .notification_box 3
                            | Notification

                        a.nav_link(href="/messages")
                            span
                                svg.bi.bi-envelope(xmlns='http://www.w3.org/2000/svg', width='25', height='25', fill='currentColor', viewbox='0 0 16 16')
                                    path(d='M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z')

                                .notification_box 4
                            | Messages

                        a.nav_link(href="/bookmarks")
                            span 
                                svg.bi.bi-bookmark(xmlns='http://www.w3.org/2000/svg', width='25', height='25', fill='currentColor', viewbox='0 0 16 16')
                                    path(d='M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z')

                                .notification_box 5
                            | Bookmarks
 
                        a.nav_link(href="/lists")
                            span 
                                svg.bi.bi-card-list(xmlns='http://www.w3.org/2000/svg', width='25', height='25', fill='currentColor', viewbox='0 0 16 16')
                                    path(d='M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z')
                                    path(d='M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z')

                                .notification_box 6
                            | Lists

                        a.nav_link(href="/profile")
                            span
                                svg.bi.bi-person(xmlns='http://www.w3.org/2000/svg', width='25', height='25', fill='currentColor', viewbox='0 0 16 16')
                                    path(d='M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z')

                                .notification_box 7
                            | Profile

                        a.nav_link
                            span 
                                svg.bi.bi-three-dots(xmlns='http://www.w3.org/2000/svg', width='25', height='25', fill='currentColor', viewbox='0 0 16 16')
                                    path(d='M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z')

                            | More

                    .tweet_btn 
                        button Tweet


            .bottom_left_section  

                .user_info 
                    .avatar_profile 
                        img(src="/uploads/" + user.avatarProfile, alt="")

                    .name_info 
                        h6 #{user.firstName}  #{user.lastName}
                        p @#{user.userName}

                    span#open_modal_btn 
                        svg.bi.bi-three-dots(xmlns='http://www.w3.org/2000/svg', width='25', height='25', fill='currentColor', viewbox='0 0 16 16')
                            path(fill="#E7E9EA" d='M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z')


            #modall.modall
                .modall-content
                    p.mb-4.mt-2
                        a(href="") Add an existing account

                    p.mb-2 
                        a(href="/signout") Sign out @#{user.userName}


        .mid_side_container 

            .mid_heading_container 
                a(href='/')
                    svg.bi.bi-arrow-left(xmlns='http://www.w3.org/2000/svg', width='22', height='22', fill='currentColor', viewbox='0 0 16 16')
                        path(fill='#E7E9EA', d='M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z')

                h4 Tweet 
                

           
            .newTweetContainer 

            
        .right_side_container
    

    script. 
        const user = !{userFrontendJs}
        const postId = "!{postId}"
